.dayCell{
    .activate{
        cursor: pointer;
    }
    .deactivate{
        cursor: default;
        filter: grayscale(100%);
    }
    .dayCellContent{
        width: 130px;
        height: 130px;
        padding-top: 10%;
        
        border: solid $white;
        
        text-align: center;
        font-size: 5rem;
        font-family: $font-5;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #111;

        h2{
            // disable text selection
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
        }

  }

  .background1{
      background: url('../media/gift_textures/gift_texture1.jpg') no-repeat center/cover;
  }
  .background2{
      background: url('../media/gift_textures/gift_texture2.jpg') no-repeat center/cover;
  }
  .background3{
      background: url('../media/gift_textures/gift_texture3.jpg') no-repeat center/cover;
  }
  .background4{
      background: url('../media/gift_textures/gift_texture4.jpg') no-repeat center/cover;
  }
  .background5{
      background: url('../media/gift_textures/gift_texture5.jpg') no-repeat center/cover;
  }
  .background6{
      background: url('../media/gift_textures/gift_texture6.jpg') no-repeat center/cover;
  }
  .background7{
      background: url('../media/gift_textures/gift_texture7.jpg') no-repeat center/cover;
  }

  @media (max-width: 520px){
    .dayCellContent{
        width: 100px !important;
        height: 100px !important;

        font-size: 4rem;
    }
  }
}

.mask1 {
    
    width: 130px;
    height: 130px;
}
